<footer class="footer" id="footer">
    <div class="container">
        <p>Copyright &copy; 2015-2022  版权所有 | <a href="/">{$SEO['site_title']}</a> </p>
        <div style="width:300px;margin:0 auto; padding:20px 0;"> <a target="_blank" href="http://www.beian.gov.cn/" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"> <img src="{APP_PATH}/statics/6/images/ghs.png" style="float:left;"/>
            <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">{$SITES[$siteid][beian]}</p>
        </a> </div>
    </div>
</footer>