<header class="header">
    <div class="container">
        <h2 class="logo logo-m"><img class="img" style="width: 100%;" src="{APP_PATH}/statics/2/images/logo.png" alt="{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}" title="{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}"/></h2>
        <ul class="nav nav-m">
            <li id="{if $catid==''} nvabar-item-index {/if}"><a href="/">首页</a></li>
            {pc:content action="category" catid="0" num="0" siteid="$siteid" order="catid ASC"}
            {loop $data $r}
            <li><a class="{if $catid==$r['catid']} active {/if}" href="{$r[url]}">{$r[catname]}</a>
            {/loop}
            {/pc}
        </ul>
    </div>
</header>