<meta name="applicable-device" content="pc,mobile">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<link rel='stylesheet' href='{APP_PATH}/statics/6/css/style.css' type='text/css' media='all' />
<script type="text/javascript" src="{APP_PATH}/statics/6/js/jquery-v1.10.2.min.js"></script>
<style type="text/css">
    .header, .excerpt .cat, .now-page, .pagination span:hover, .pagination ul>li>a:focus {
        background-color: #0AF;
    }
    .excerpt:hover {
        border-color: #0AF;
    }
    .excerpt h2 a:hover {
        color: #0AF;
    }
    #comments h4, #comments2 h4 {
        border-left-color: #0AF;
    }
    #frmSumbit input[type="submit"] {
        background-color: #0AF;
    }
    .excerpt-see-index h2 span {
        color: #0AF;
    }
    .logo-m {
        background: #0AF;
    }
    .excerpt {
        padding: 20px 20px 20px 255px;
    }
    @media (max-width: 640px) {
        .excerpt {
            padding: 10px 10px 10px 180px;
        }
    }
    @media (max-width: 480px) {
        .excerpt {
            padding: 10px 10px 0px 120px;
        }
    }
    @media (max-width: 800px) {
        .header {
            background-color: transparent;
            padding: 0;
        }
    }
</style>
<?php $SITES = getcache('sitelist','commons'); ?>