<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible"content="IE=9; IE=8; IE=7; IE=EDGE;chrome=1">
<script type="text/javascript" src="{APP_PATH}/statics/4/js/jquery-v1.10.2.min.js"></script>
<link rel='stylesheet' id='fontello-css'  href='{APP_PATH}/statics/4/css/fontello.css' type='text/css' media='all' />
<!--[if lte IE 7]>
<link rel='stylesheet' id='fontello-ie7-css'  href='{APP_PATH}/statics/4/css/fontello-ie7.min.css' type='text/css' media='all' />
<![endif]-->
<link rel='stylesheet' id='main-css'  href='{APP_PATH}/statics/4/css/style.css' type='text/css' media='all' />
<?php $SITES = getcache('sitelist','commons'); ?>