<footer class="footer">
    <div class="main container">
        <div class="f-about fl">
            <small><span>Copyright &copy; 2015-2022  版权所有 </span> <a href="/">{$SEO['site_title']}</a>
                <span class="icp">备案号：<a href="http://www.beian.miit.gov.cn/">{$SITES[$siteid][beian]}</a><br/>
                <!--<a href="">XML地图</a>|<a href="">网站地图</a>-->
                </span>
            </small>
        </div>
        <div class="clear"></div>
    </div>
    <div id="toolbar" class="toolbar ">
<!--        <a class="hidden-sm-md-lg btn qq sb br" href="" target="_blank" rel="nofollow"> <i class="iconfont icon-qq"></i> <span class="qqnum sb br"></span> </a>-->
<!--        <div id="qr" class="hidden-sm-md-lg btn sb br"> <i class="iconfont icon-qr"></i> <img id="qr-img" class="br sb" src="qr.jpg"> </div>-->
        <div id="totop" class="btn hidden sb br"> <i class="iconfont icon-top"></i> </div>
    </div>
</footer>

<!--黑色透明遮罩-->
<div id="mask-hidden" class="mask-hidden transition"></div>
<script src="{M_APP_PATH}/statics/2/js/common.js" type="text/javascript"></script>
<!--[if lt IE 9]><script src="{M_APP_PATH}/statics/2/js/html5-css3.js"></script><![endif]-->
