<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>{$catname}-{$SEO['site_title']}</title>
  <meta name="keywords" content="{$SEO['keyword']}">
  <meta name="description" content="{$SEO['description']}">
  {template "content","meta"}
</head>
<body>
{template "content","header"}

<div class="wrap">
  <div class="main">
    <div class="map1">
      <span> 当前位置：<a href="{siteurl($siteid)}">主页</a> > {catpos($catid)}
        <h1>文章分类：{$catname}</h1>
      </span>
    </div>

    {pc:content action="lists" catid="$catid" num="10" order="id DESC" page="$page"}
    {loop $data $r}
    <div class="block">
      <h2><span class="category">
          <a href="{$CATEGORYS[$r[catid]][url]}" rel="category tag" >{$CATEGORYS[$r[catid]][catname]}</a>
          <i class="fa fa-caret-right"></i>
          </span>
          <a href="{$r['url']}"  target="_ablank" >{$r['title']}</a>
      </h2>
      <div class="clear"></div>

      <div class="preview"> {$r['description']}...</div>
      <div class="preem">
        <span><i class="fa fa-clock-o"></i> {date('Y-m-d',$r[inputtime])} </span>
        <span><i class="fa fa-eye"></i> {$views} </span><span> </span>
        <span class="more"><a href="{$r['url']}" title="{$r['title']}">阅读详情</a></span>
      </div>
    </div>
    {/loop}
    <div class="pagess">
      <ul>{$li_pages}</ul>
    </div>
    {/pc}
  </div>

  <div class="sider">
    <div class="right">

      <div class="subblock">
        <h3>推荐文章</h3>
        <ul>
          {pc:content action="position" posid="2" order="listorder DESC" num="6"}
          {loop $data $r}
          {if $n==1}
          <li>
            <div class="sideshow">
              <a href="{$r['url']}" target="_ablank"  title="{$r['title']}">
                <img width='80' height='60' src="{thumb($r['thumb'])}" class='icon wp-post-image' alt="{$r['title']}" title="{$r['title']}" />
              </a>
              <a href="{$r['url']}" target="_ablank"  title="{$r['title']}"> {$r['title']}</a>
              <span class="datetime"> {date('Y-m-d',$r[inputtime])} </span>
            </div>
          </li>
          {else}
          <li>
            <div class="sideshow"><a href="{$r['url']}" target="_ablank"  title="{$r['title']}">  </a>
              <a href="{$r['url']}" target="_ablank"  title="{$r['title']}"> {$r['title']}</a>
              <span class="datetime"> {date('Y-m-d',$r[inputtime])} </span>
            </div>
          </li>
          {/if}
          {/loop}
          {/pc}
        </ul>
      </div>


      <div class="subblock">
        <h3>热门文章</h3>
        <ul>
          {pc:get sql="SELECT * FROM `v9_news` a left join `v9_hits` p on a.catid=p.catid WHERE a.catid=$catid and a.status=99 and a.inputtime > UNIX_TIMESTAMP()-7*3600*24 and CONCAT(  'c-1-',a.id ) = p.hitsID ORDER BY p.weekviews DESC" num="6"}
          {loop $data $r}
          {if $n==1}
          <li>
            <div class="sideshow">
              <a href="{$r['url']}" target="_ablank"  title="{$r['title']}">
                <img width='80' height='60' src="{thumb($r['thumb'])}" class='icon wp-post-image' alt="{$r['title']}" title="{$r['title']}" />
              </a>
              <a href="{$r['url']}" target="_ablank"  title="{$r['title']}"> {$r['title']}</a>
              <span class="datetime"> {date('Y-m-d',$r[inputtime])} </span>
            </div>
          </li>
          {else}
          <li>
            <div class="sideshow"><a href="{$r['url']}" target="_ablank"  title="{$r['title']}">  </a>
              <a href="{$r['url']}" target="_ablank"  title="{$r['title']}"> {$r['title']}</a>
              <span class="datetime"> {date('Y-m-d',$r[inputtime])} </span>
            </div>
          </li>
          {/if}
          {/loop}
          {/pc}

        </ul>
      </div>

      <div class="subblock linkcat">
        <h3>友情链接</h3>
        <ul>
          {pc:link  action="type_list" siteid="$siteid" linktype="1" order="listorder DESC" return="pic_link"}
          {loop $pic_link $v}
          <li><a href='{$v[url]}' target='_blank'>{$v[name]}</a> </li>
          {/loop}
          {/pc}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="clear"></div>
{template "content","footer"}

</body>
</html>