<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{APP_PATH}/statics/8/images/favicon.ico" />
<link rel="stylesheet" type="text/css" media="all" href="{APP_PATH}/statics/8/css/style.css" />
<link rel="stylesheet" type="text/css"  href="{APP_PATH}/statics/8/css/font-awesome.min.css"/>
<script type="text/javascript" src="{APP_PATH}/statics/8/js/jquery.min.js"></script>
<script type="text/javascript" src="{APP_PATH}/statics/8/js/responsiveslides.min.js"></script>
<script type="text/javascript" src="{APP_PATH}/statics/8/js/yycm.js"></script>
<?php $SITES = getcache('sitelist','commons'); ?>