<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
<meta name="applicable-device" content="pc,mobile"/>
<meta http-equiv="Cache-Control" content="no-transform"/>
<link rel='stylesheet' id='stylesheet-css' href='{APP_PATH}/statics/aslnb/css/style.css' type='text/css' media='all'/>
<link rel='stylesheet' id='wp-block-library-css' href='{APP_PATH}/statics/aslnb/css/style.min.css' type='text/css' media='all'/>
<link rel='stylesheet' href='{APP_PATH}/statics/aslnb/css/index.css' type='text/css'/>
<script type='text/javascript' src='{APP_PATH}/statics/aslnb/js/jquery.min.js'></script>
<script type='text/javascript' src='{APP_PATH}/statics/aslnb/js/jquery-migrate.min.js'></script>
<script> (function () {
    if (!/*@cc_on!@*/0) return;
    var e = "abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video".split(', ');
    var i = e.length;
    while (i--) {
        document.createElement(e[i])
    }
})()</script>
<!--[if lte IE 8]>
<script src="{APP_PATH}/statics/aslnb/js/respond.min.js"></script>
<![endif]-->
<?php $SITES = getcache('sitelist','commons'); ?>